* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  align-items: center;
  padding: 100px 100px 50px;
  font-size: 1.4rem;
  position: relative;
}
header::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #0085a5;
  z-index: -1;
  top: 0;
  left: 0;
  transform: skew(360deg, 6.0134rad);
  transform-origin: top left;
}
.img-container {
  max-width: 350px;
  position: relative;
  display: inline-block;
}
.img-container img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  object-position: center;
}
.icon {
  width: 25px;
  height: 25px;
  display: block;
}
.overlay-text {
  position: absolute;
  font-size: 2rem;
  width: 100%;
  letter-spacing: 0.05em;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight: bold;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 50px 25px;
  box-shadow: 0px 0px 2px 1px black;
  background-color: white;
}
.icon-container {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
